*{
	margin :0;
	padding: 0;
	font-family:calibri, ,segoe IU , Arial, Helvetica, sans-serif;
}

body{
	background-color:  #DDDDDD;
	page:auto;
}
#wrapper{
	width : 1000px;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
}
#page-wrap{
	width: 300px;
	height: 1000px;
	margin: 0 auto;
}
#header{
	background: #BEC2C2 ;
	height: 100%px;
	width:100%;
	padding:5px;
	margin: 20px 0;
	overflow: hidden;
}
#header img { width:1000px ; height:155px ; }

#menu-utama{
	margin-top:3px;
	list-style:none;
}

#menu-utama li{
	float:left;
	padding:8px 20px;
	border-right:1px solid #555555;
}

#menu-utama li a{
	color:#ffffff;
	text-decoration:none;
}

#runningtext{
	width: 100%
	height:40px;
	padding-top: 7px;
	margin: 5px 0 5px 0;
	background-color: #ccccff;
	content: white;
	font-size: 10pt;
	position: relative;
}

#header form{
	float:right;
	margin-top:7px;
	margin-right: 10px;
}
#header form input{
	border:none;
	height:20px;
}

#daftar-artikel{
	width:1000px;
	float:left;
}
.artikel{
	background:#ffffff;
	padding:10px;
	margin-bottom:20px;
	overflow:hidden;
}
.artikel img{
	float:left;
	margin-right:10px;
	width:200px;
	height:165px;
}
.artikel b{
	color:#616060;
	background:#DDDDDD;
	padding:3px;
	font-size:12px;
	font-weight:bold;
	margin-right:10px;
}
.artikel p{
	margin:10px 0;
}

.artikel a{
	display:block;
	text-align:right;
	color:#636363;
}

#footer{
	clear:both;
	margin:20px 0;
	text-align:center;
	background-color:#49494e;
	padding: 10px;
	color:#FFF;
}

	